<!DOCTYPE html> 
<html>
<head>
    <title>Text Annotator</title>
    <meta charset="utf-8">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customstyle.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/form.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/MainFunct.js') }}"></script>

</head>
<body style="margin-right: auto; margin-left: auto; background-color: lightgrey">
	<div class="jumbotron text-center" style="margin-bottom; background-color: #CDE5F9">
  		<h1 style="margin: 10px"><img src="{{ url_for('static', filename='images/trex21.png') }}" style="width:5%" /><strong> ANNOTATOSAURUS </strong><img src="{{ url_for('static', filename='images/trex2.png') }}" style="width:5%" /></h1>
  		<h5 style="color:black; font-size: 25px;margin-top: 15px "> DIGITAL HUB - DSTA </h5>
  		
	</div>

	<div id="maincontainer">
		<div id='leftcontainer'>
			<h3> Annotated Sentences</h3>
			<div id="selected_sentences">
				<table id="sel_sent_table"></table>
			</div>
		</div>
		<div id='rightcontainer'>

			<!-- SELECT OVERALL ACTION -->
			<span>	
				<input class="w3-btn w3-teal" type="button" id="openlabel" value="Manage Classes" onclick="open_label()">
				<input class="w3-btn w3-teal" type="button" id="openfile" value="Select Document" onclick="open_file()">
				<input class="w3-btn w3-teal" type="button" id="exportdata" value="Export Data/Report" onclick="export2data()">
				<input class="w3-btn w3-teal" type="button" id="generatereport" value="Read Me" onclick="alert('1) Declare your classes in <Manage Classes> <Create New Class> Enter Class Details - Describe what the class represents (e.g. Class: Classified Phrase, Description: Project Name) <Add>\n2) Import a MS word document by typing into the textbox <Enter Filename Here><Open> e.g. <Lorem.docx>\n3a)Start labelling (Highlight and click to assign to associated class)\n3b)Click delete to remove an annotated phrase in left column\n4)Click Export Data/Report, you can access report from the report folder')">
			</span>

			<!-- REGISTERED CLASSES -->
			<div class="sticky">	
				<h5> Registered Classes: </h5>
				<span id="class_select_span"></span> 
				<!-- EXTRACTED TEXT (OPTIONAL) -->
				<div id="output_container">
					<h5 class="textsH5"> Selected Text </h5>
					<textarea id="selection" onmouseover='edit_size(this)' placeholder="Selected Text" style="height: 100px; width: 80%; resize: none;"></textarea>
				</div>
			</div>
			
			<!-- SELECT FILE TO READ -->
			<div id='uploadfile_container'>
                <form id='options' action="/download" style="margin-top: 10px; margin-bottom:10px" method=post enctype=multipart/form-data onsubmit="return changers()">
                    <input class="w3-btn w3-teal" type=file name=file id="fileInput">
                    <input class="w3-btn w3-teal" type="text" id="fileNames" style="display:none;"/>
                    <input class="w3-btn w3-teal" type="submit" id="but_upload" value=Upload>
                </form>


				<div id='legendtable' class="nodisplay">
					<table>
						<tr>
							<td><strong>Flag Colour</strong></td>
							<td><strong>Flag Description</strong></td>
						</tr>
						<tr>
							<td><span class='numeric'>Blue</span></td>
							<td>Numeric Flag</td>
						</tr>
						<tr>
							<td><span class='capitalised'>Green</span></td>
							<td>Capitalised Flag</td>
						</tr>
						<tr>
							<td><span class='badwords'>Yellow</span></td>
							<td>Custom Word Flag</td>
						</tr>
					</table>

                    <div id="class_select">
                        <!-- DOCUMENT CONTENT -->
                        <h5 id="document_context" class="textsH5"></h5>
                        <!--onmouseover='edit_size(this)-->
                        <div id="output" class="outputbox flex-container" contenteditable="true"></div>
                    </div>

				</div>

			</div>

			<!-- CLASS CONFIGURATION & REGISTRATION OPERATIONS -->
			<div id="classes_container">
				<div id="class_options_text" style="margin-top: 30px;">
					<span>
						<input class="w3-btn w3-red" type="button" value="Create New Class" onclick="create_class(this)">
						<input class="w3-btn w3-red" type="button" value="Delete a Class" onclick="delete_class()"><br>
					</span>
				</div>			
			</div>

			<div id="errorAlert" class="alert alert-danger nodisplay" role="alert"></div>
		</div>
	</div>
</body>
</html>